name: Test
on:
  pull_request:

env:
  NODE_VERSION: 24.x
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"

      - run: npm ci
      - run: npm run lint
      - run: npm run check-types
      - run: npm run test
